/*CSS reset styling*/
html {
    box-sizing: border-box;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;

  }


  body {
    margin: 0;
    font-family: var(--fontFamily);
  }


  main {
    display: block;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }

  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  a {
    background-color: transparent;
  }

  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }

  b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
    font-size: 80%;
  }

  sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
    border-style: none;
  }

  button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}


button,
input {
  /* 1 */
  overflow: visible;
}


button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
  }

  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }

  progress {
    vertical-align: baseline;
  }

  textarea {
    overflow: auto;
  }

  [type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }

  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }

  details {
    display: block;
  }

  summary {
    display: list-item;
  }
  template {
    display: none;
  }
 
  /*CSS Reset Styling*/



  /*colors root*/
  :root{
    --mainColor: #000000;
    --secondColor: #005eb8;
    --thirdColor: #ffffff;
    --fourthColour: #edf6ff;
    --fifthColour: #00a2b3;
    --footerNHover: #071d49;
    --fontFamily: 'Source Sans Pro', sans-serif;
}



/*container*/


.container{
  max-width: 1000px;
  margin: 0 auto;
}


/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: var(--secondColor);
  margin: 0 auto;
}

.logo {
  cursor: pointer;
  order: 1;
  margin-right: auto;
}

.first_nav {
  order: 2;
}

.nav_links_one a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  text-align: center;
  height: 94px;
}

.nav_links_one {
  list-style: none;
  display: flex;
  font-size: 16px;
}

.nav_links_one li {
  text-align: center;
  display: inline-block;
  width: 96px;
}

.nav_links_one li a{
  font-size: 1rem;
  line-height: 1.333rem;
  padding: 0 5px;
  font-weight: 600;
}

.nav_links_one li:nth-child(1) {
  padding: 0 20px 0 0;
}

/*2nd header*/
.link_header{
 
 border-bottom: 1px solid  var(--mainColor);
}

.nav_links_second{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav_links_second li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 10px;
  box-shadow: none;
  text-align: left;
} 


.main_img{
  display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding-top: 1px;
}

.main_img img{
  height: 488px;
}

.square .text_img{

  color:var(--thirdColor);
  line-height: 2.889rem;
  margin-bottom: 12px;
  max-width: 100%;
  width: 100%;
  font-weight: 600;
  font-size: 2.666rem;
}

.square{
  zoom: 1;
    background: #005eb8;
    border-radius: 6px;
    margin: 0 0 0 45px;
    padding: 20px 30px 30px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 520px;
}

/*
.main_img .img_button{
  position: absolute;
  border: 5px solid blue;
}


/*
.btn{
  border-radius: 28px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0;
    text-decoration: none;
    word-break: break-word;
}